<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/browse"></ion-back-button>
    </ion-buttons>
    <ion-title>{{user.name}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button><ion-icon name="share" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-avatar slot="start">
          <img src="{{user.img}}">
        </ion-avatar>
        <ion-label>{{user.name}}</ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="mail"></ion-icon>&nbsp;E-mail: {{user.email}}
        </ion-item>
        <ion-item>
          <ion-icon name="call"></ion-icon>&nbsp;Phone: {{user.phone}}
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-text>Previous jobs: </ion-text>
        <ion-item *ngFor="let job of user.previousJobs" [routerLink]="['/', job.id]">
          <ion-text>{{job.name}}</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
