<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Bid: {{job.name}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()"><ion-icon name="close" color="red" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-textarea placeholder="Explain why you are good for this job..." rows="6"></ion-textarea>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-text>
        <h3>Confirm your skills: </h3>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Price</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Completed in:</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item *ngFor="let req of job.requirements">
      <ion-label>{{req}}</ion-label>
      <ion-checkbox slot="start" color="red"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button (click)="dismiss()" expand="block" color="vibrant">Submit</ion-button>
</ion-content>
