<ion-header>
</ion-header>

<ion-content color="dark">
  <!--<ion-grid style="height: 100%">
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%; flex-direction: column;">

    </ion-row>
  </ion-grid>-->
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
        <div class="text-center">
          <ion-text color="light" class="ion-text-center">
            <h1>Login Form</h1>
          </ion-text>
        </div>
        <div class="ion-padding">
          <ion-item color="dark">
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item color="dark">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </div>
        <div class="ion-padding">
          <ion-button size="large" color="success" expand="block" [routerLink]="['tabs/browse']">Login</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
